doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Almonaster la Real
    link(rel="stylesheet" href="css/styles.scss")
  body
    include header.pug

    main
      section.enlaces-main-section
        .enlaces-content
          h1 Bibliografía, referencias y enlaces utilizados
          
          h2 Contenido documental

          ul 
            li 
              p Almonaster la Real. En Wikipedia. Recuperado el 14 de octumbre de 2024 de 
                a(target="_blank" href="https://es.wikipedia.org/wiki/Almonaster_la_Real") https://es.wikipedia.org/wiki/Almonaster_la_Real
            li 
              p Consultas herramientas y plataformas de IA (ChatGPT):
              ul 
                li 
                  p "Año de construcción de la mezquita fortaleza de Almonaster la Real, localidad ubicada en la sierra de Huelva y contexto histórico".
                li 
                  p "Tres párrafos de información, de 5 a 6 líneas cada uno sobre la fundación de Almonaster la Real, localidad ubicada en la Sierra de Huelva, España, en el año 1234".
                li 
                  p "Listado de personajes históricos relevantes de Almonaster la Real en el año 1234".
                li
                  p "Tres párrafos de información, de 5 a 6 líneas cada uno sobre la edificación de la Mezquita de Almonaster la Real, localidad ubicada en la Sierra de Huelva, España, en tre los años 711-929".
                li 
                  p "Listado de personajes históricos relevantes de Almonaster la Real relacionados con la construcción de la mezquita entre los años 711-929".
                li 
                  p "Tres párrafos de información, de 5 a 6 líneas cada uno sobre el transcurso de la guerra de independecia en el año 1812 en Almonaster la Real, localidad ubicada en la Sierra de Huelva, España".
                li 
                  p "Listado de personajes históricos relevantes de Almonaster la Real relacionados con la guerra de independencia de 1812".
            li 
              p Imágenes utilizadas obtenidas de las siguientes fuentes: 
              ul 
                li 
                  p 
                    a(target="_blank" href="https://www.tripadvisor.es/Tourism-g2199423-Almonaster_La_Real_Province_of_Huelva_Andalucia-Vacations.html") https://www.tripadvisor.es/Tourism-g2199423-Almonaster_La_Real_Province_of_Huelva_Andalucia-Vacations.html
                li 
                  p 
                    a(target="_blank" href="https://www.spain.info/es/destino/almonaster-la-real/")  https://www.spain.info/es/destino/almonaster-la-real
                li 
                  p 
                    a(target="_blank" href="https://www.andalucia.org/es/almonaster-la-real") https://www.andalucia.org/es/almonaster-la-real
                li 
                  p 
                    a(target="_blank" href="https://turismosierradearacena.com/portada-manuelina-almonaster-arte-barroco-portugal-sierra-de-huelva/") https://turismosierradearacena.com/portada-manuelina-almonaster-arte-barroco-portugal-sierra-de-huelva
                li 
                  p 
                    a(target="_blank" href="https://www.conocetusfuentes.com/datos_fuente_46.html") https://www.conocetusfuentes.com/datos_fuente_46.html  
                li 
                  p 
                    a(target="_blank" href="https://www.recuerdosdemimochila.com/almonaster-la-real/") https://www.recuerdosdemimochila.com/almonaster-la-real/
                li 
                  p 
                    a(target="_blank" href="https://www.caracolviajero.com.es/blog/que-ver-en-almonaster-la-real-mezquita/") https://www.caracolviajero.com.es/blog/que-ver-en-almonaster-la-real-mezquita/
                    
            li 
              p Videos utilizados obtenidos de las siguientes fuentes: 
              ul
                li 
                  p 
                    a(target="_blank" href="https://www.youtube.com/watch?v=ayYBrkRkcpY") https://www.youtube.com/watch?v=ayYBrkRkcpY


    include footer.pug