doctype html
footer
  div#footer-text.footer   
    p Santiago Martín-Palomo García
    p Máster Universitario en Desarrollo de Sitios y Aplicaciones Web 
    p M4.257 - Herramientas HTML y CSS 
  
  div.footer-mainLink
    div.title 
      span.title Páginas
    a(href="presentacion.pug")
      p Presentación
    a(href="categoria.pug")
      p Categoria 
    a(href="Enlaces")
      p Enlaces

  div.footer-otherLink
    div.title
      span.title Otros enlaces
    a(href="detalle_siglo_IX.pug")
      p Siglo IX - Edificación de la Mezquita
    a(href="detalle_año_1234.pug")
      p Año 1234 - Fundación de la localidad 
    a(href="detalle_año_1812.pug")
      p Año 1812- Almonaster en la Guerra de Independencia

  div#footer-logo.footer 
    a(href="index.pug") 
      img(src="images/LogoUOC_bn.png" alt="Logo UOC" class="logo")
