doctype html
header
    nav.standar
        div#logo.nav
            a(href="index.pug")
                picture 
                    source(srcset="images/Logo_Almonaster-A.webp" type="image/webp") 
                    img(src="images/Logo_Almonaster-A.png" alt="Logo de Almonaster la Real" class="logo")
        div#menu.nav
            ul
                li
                    a(href="presentacion.pug") Presentación
                li
                    a(href="categoria.pug") Categoría
                li
                    a(href="enlaces.pug") Enlaces